@import './../../../styles/variables.styl';

.works
  box-sizing border-box
  .page-content-M
    box-sizing border-box
    .content-wrapper
      padding 64px 10px
      text-align center
      > h3
        margin 10px
        font-weight 100
      > p
        margin 15px
        font-style italic
        font-weight 100
      .content-block
        display flex
        .item
          box-sizing border-box
          padding 3px
          font-size 0
          cursor pointer
          > img
            height auto
            max-width 100%
            box-sizing border-box
            opacity 0.75
            transition .5s
          &:hover
            transform scale(1.005, 1.005)
            transition .5s
            > img
              box-shadow 0 0 4px 4px $Gray
              transition .5s
              opacity 1