@import './../../../styles/variables.styl';

.modalBg
  display none
  position fixed
  top 0
  left 0
  width 100vw
  height 100vh
  background-color alpha($black, .85)
  z-index 10
  .modalWindow
    width 100vw
    height 100vh
    display flex
    justify-content space-between
    align-items center

.modalBg.showed
  display block