@import './../../../styles/variables.styl';

.navbar
	box-sizing border-box
	position absolute
	top 0
	width 100%
	display flex
	justify-content start
	align-content center
	background-color alpha($white, .5)
	box-shadow 0 0 5px 5px $Gray
	z-index 1
	&-link
		padding .8rem 1.8rem
		display flex
		align-items center
		font-size 1.2rem
		color $Gray
		> p
			line-height 0
		&:hover
			background alpha($white, .5)
	.active
		background-color alpha($Gray, .7)
  .fa
		> p
			margin-left 10px

.navbar.fixed
	position fixed
	background-color alpha($white, .9)
	animation-name example
	animation-duration .5s


@keyframes example
	0%
		transform translateY(-100%)
	100%
		transform translateY(0%)