@import './../../../styles/variables.styl';

.navbar
	border 1px solid red
	box-sizing border-box
	position fixed
	top 0
	width 100%
	display flex
	justify-content start
	align-content center
	z-index 1
	&-link
		padding .5rem 1rem
		font-size 1rem
		color $Gray
		&:hover
			background rgba(0, 0, 0, 0.54)