@import './../../../styles/variables.styl';

.scroll
  position fixed
  bottom 0
  right 0
  margin 20px
button
  padding 7px 15px
  border 1px solid alpha($red, 0)
  border-radius 5px
  font-size 1rem
  color $Gray - 30%
  background-color alpha($Gray - 40%, .3)
  cursor pointer
  transition .5s
  &:hover
    border 1px solid alpha($red, 1)
    background-color alpha($Gray - 60%, .4)
    color $Gray + 10%
    transition .5s
  > i
    color $Gray + 100%
    font-size 1.9rem
    transition .5s
    &:hover
      color color $red - 20%
      transition .5s