@import './../../../styles/variables.styl';

.scroll
  position fixed
  display none
  bottom 0
  right 0
  margin 20px

.scroll.show
  display block
  animation-name example2
  animation-duration .5s

@keyframes example2
  0%
    transform translateY(100%)
  100%
    transform translateY(0%)