@import './../../../styles/variables.styl';

.about-me
  .item
    padding 64px 16px
    line-height 1.8
    > h4
      margin 10px 0
      text-align center
      font-weight 400
    > p
      margin 15px 0
      text-align start
      &.italic
        text-align center
        font-style italic
  .content-block
    .item
      box-sizing border-box
      > p
        text-align center
      > img
        border none
        border-radius 5px
        max-width 100%
        opacity 0.7
        transition .5s
        &:hover
          opacity 1
          transition .5s

  .content-block
    > p
      padding 1rem 0
      font-size 1.2rem
      text-align center
    .properties
      padding 0 1rem
      &__header
        display flex
        align-items center
        > i
          color $Gray
        > p
          padding 1rem 0.5rem
          font-size 1rem
          letter-spacing 0.9rem
      &__bar
        width 100%
        background-color $Gray + 70%
        &_rate
          background-color $Gray - 35%
          > p
            padding 10px 0
            text-align center
            color $white

      &__bar
        &:nth-child(2)
          .properties__bar_rate
            width 90%
        &:nth-child(4)
          .properties__bar_rate
            width 85%
        &:nth-child(6)
          .properties__bar_rate
            width 75%
            margin-bottom 64px