@import './../../../styles/variables.styl';

.contacts
  padding 63px
  .page-content-M
    border 1px solid red
    .head
      text-align center
      > h2
        font-size 1.8rem
        font-weight 100
      > p
        font-style italic
    .content-block
      border 1px solid blue
      width 100%