@import './../../../styles/variables.styl';

.content-wrapper1
  margin 64px 5px
  .window-task
    width 250px
    box-sizing border-box
    padding 20px
    border 1px solid $Gray + 30%
    box-shadow 0 0 5px 1px $Gray + 20%