@import './../../../styles/variables.styl';

.content-wrapper1
  margin 64px 5px
  .window-task
    width 250px
    box-sizing border-box
    padding 20px
    border 1px solid $Gray + 30%
    box-shadow 0 0 5px 1px $Gray + 20%
    &__categories,
    &__date
      > input
        display none
      #controls
        > label
          display flex
          align-items center
          .input
            position relative
            display flex
            .deg
              height 2px
              border 1px solid $Gray + 10%
              border-radius 10px
              padding 5px 15px
              font-size 0
              background-color $Gray + 40%
              box-shadow 2px 2px 10px 1px $Gray + 40%
            .rad
              position absolute
              left 0
              top 50%
              transform translate(-50%, -50%)
              border 1px solid $Gray
              border-radius 10px
              background-color $Gray + 20%
              padding 8px
          > p
            margin-left 15px
            font-style italic
#inp1:checked ~ #controls label:nth-child(1),
#inp2:checked ~ #controls label:nth-child(2),
#inp3:checked ~ #controls label:nth-child(3),
#inp4:checked ~ #controls label:nth-child(4),
#inp5:checked ~ #controls label:nth-child(1),
#inp6:checked ~ #controls label:nth-child(2)
  > p
    color $darkBlue
  .deg
    background-color $darkBlue + 50%
  .rad
    left 100%
    background-color $Gray + 70%