@import './../../../styles/variables.styl';

.contacts
  .page-content-M
    .head
      margin 25px 0 0
      text-align center
      > h2
        font-size 1.8rem
        font-weight 100
      > p
        font-style italic
    .form
      > input,textarea
        box-sizing border-box
        margin-bottom 15px
        padding 5px
        width 100%
    .content-block
      padding 50px 40px
      .title
        margin-bottom 20px
        > p
          font-style italic
      .contact
        > p
          margin 10px 0
          > a
            &:hover
              color $Gray - 50%

  .fas,.fab
    margin 5px